@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');

$serif-font: 'Roboto Slab', serif;
$sans-serif-font: 'Lato', sans-serif;
$sidebar-text-color: #FFFFFF;
$sidebar-text-hover: #013220;
$sidebar-bg-color: #228B22;
$skill-title-bg-color: #013220;

html, body, .main, #app {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  font-size: 18px;
}

.resume {
  display: flex;
  flex-direction: row;
  height: 100%;

  .sidebar {
    position: fixed;
    height: 100%;
    background-color: $sidebar-bg-color;
    padding-top: 1.5rem;
    width: 325px;

    .nameplate {
      margin: 0.8rem 0rem 0.4rem 0.4rem;

      .name {
        font-family: $serif-font;
        font-size: 2.5em;
        font-weight: bold;
        letter-spacing: 0.8px;
        color: $sidebar-text-color;
        margin: 0.4rem 0.4rem 0.2rem 0.4rem;
      }
      .title {
        font-family: $sans-serif-font;
        font-size: 1.3em;
        color: $sidebar-text-color;
        margin: 0.0rem 0.4rem 0.4rem 0.4rem;
      }
    }

    .contact-container {
      margin-left: 20px;
      padding-top: 5px;
      padding-bottom: 10px;
      color: $sidebar-text-color;
      fill: $sidebar-text-color;


      .contact-line {
        display: flex;
        align-items: center;
        margin: 10px 0px 0px 10px;

        .icon {
          fill: $sidebar-text-color;
        }
        .contact-content {
          margin-left: 8px;
          letter-spacing: 0.5px;
          font-family: $serif-font;
        }

        &:hover {
          .icon {
            fill: $sidebar-text-hover;
          }
          .contact-content {
            color: $sidebar-text-hover;
          }
        }
      }

    }

    .skills-container {

      .skill-section {
        padding-top: 10px;
        background-color: $sidebar-bg-color;

        .skill-section-title {
          margin: 0px 0px 4px 0px;
          padding-left: 10px;
          height: 27px;
          line-height: 27px;
          font-family: $serif-font;
          color: $sidebar-text-color;
          background-color: $skill-title-bg-color;
        }
        .skill-item {
          margin: 4px 0px 0px 0px;
          padding-left: 20px;
          font-family: $sans-serif-font;
          color: $sidebar-text-color;
        }
      }
    }
  }

  .resume-body {
    display: flex;
    margin-left: 352px;
    flex: 1;

    .column {
      flex: 1;
      padding: 3rem;

      .section-container {
        padding: 0px;
        margin-bottom: 2rem;

        .section-title {
          font-family: $serif-font;
          font-weight: bold;
          font-size: 1.2rem;
          line-height: 1.5rem;
          border-bottom-style: solid;
          border-bottom-width: 3px;
          border-bottom-color: $sidebar-bg-color;
        }

        .section-content {
          font-family: $sans-serif-font;
          margin-top: 1rem;
          line-height: 1.3rem;
          text-align: justify;
        }

        .experience-description {
          font-family: $sans-serif-font;
        }

        .experience-list {
          margin-top: 1rem;
          margin-left: 1.2rem;
          line-height: 1.3rem;
          text-align: justify;
        }
        .experience-container {
          display: flex;
          margin-top: 1rem;

          .experience-right-col {
            flex: 0.5;
            justify-content: flex-end;
            text-align: right;
          }

          .experience-left-col {
            flex: 0.5;
          }

          .experience-company {
            font-family: $sans-serif-font;
            font-weight: bold;
            margin: 0px;
          }

          .experience-content {
            font-family: $sans-serif-font;
            font-size: 0.8rem;
            padding-top: 0.2rem;
            margin: 0px;
          }

        }

        .education-container {
          margin-top: 1rem;

          .education-item {
            padding-bottom: 1rem;

            .education-header {
              display: flex;
              font-family: $sans-serif-font;
              font-size: 0.8rem;

              .education-header-left {
                flex: 0.5;

                .education-institution {
                  font-size: 1.0rem;
                  font-weight: bold;
                }

                .education-credential {
                  padding-top: 0.2rem;
                }
              }

              .education-header-right {
                flex: 0.5;
                justify-content: flex-end;
                text-align: right;
              }
            }
          }
        }
      }

      .projects-container {
        margin-top: 1rem;

        .project {
          font-family: $sans-serif-font;
          margin-bottom: 1.5rem;

          .project-header {
            display: flex;

            .project-left-col {
              flex: 0.5;
              font-weight: bold;
              color: $sidebar-bg-color;
            }

            .project-right-col {
              flex: 0.5;
              font-size: 0.8rem;
              justify-content: flex-end;
              text-align: right;
            }

            .project-link {
                border-bottom-style: dotted;
                border-bottom-color: $sidebar-bg-color;
                border-bottom-width: 2px;

                &:hover {
                    color: $skill-title-bg-color;
                    border-bottom-color: $skill-title-bg-color;
                }
            }
          }

          .project-stack {
            font-weight: bold;
            font-size: 0.8rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
          }

          .project-description {
            text-align: justify;
            line-height: 1.3rem;
          }
        }
      }
    }
  }
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

.inlineLink {
    color: $sidebar-bg-color !important;
    border-bottom-style: dotted;
    border-bottom-color: $sidebar-bg-color;
    border-bottom-width: 1px;
    &:hover {
        color: $skill-title-bg-color !important;
        border-bottom-color: $skill-title-bg-color;
    }
}

@media screen and (max-height: 925px) {
  .skill-section-title, .skill-item {
    font-size: 0.8rem;
  }
}

@media screen and (max-height: 850px) {
  .skill-section-title, .skill-item {
    font-size: 0.6rem;
  }
}
