
.contactContainer {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.contactLink {
  display: inline-flex;
  margin-left: 20px;
  align-items: center;
  
  &:hover {
    color: #013220;

    .icon {
      fill: #013220;
    }
  }
}

.contactContent {
  margin-left: 5px;
  font-family: 'Roboto Slab', serif;
}

.icon {
  fill: #FFFFFF;
}

@media screen and (max-width: 1200px) {
  .contactContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .contactLink {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1332px) {
  .contactContent {
    display: none;
  }
}