.namePlate {
  margin: 0.8rem 0rem 0.4rem 0.4rem;
}

.name {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  margin: 0.4rem 0.4rem 0.2rem 0.4rem;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  margin: 0.0rem 0.4rem 0.4rem 0.4rem;
}